.games-menu {
  background: $color-bg-dark;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 20px;
//  height: 120px;
}

.games-menu__positioner {
  display: flex;
  flex-direction: space-between;
  &:nth-of-type(2) {
    margin-top: 20px;
  }
}

.games-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.games-category__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color:  $color-text-light;
  background: plum;
  padding: 5px 10px 5px 40px;
  //background-image: url("../images/icon/sprite.icon.svg");
  &--all {
    padding: 5px 40px 5px 10px;
  }
}

.providers-category__item {
  height: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  color: $color-text-providers;
  border: 1px solid $color-text-providers;
  border-radius: 30px;
  padding: 0 10px;
  &--active {
    border: 1px solid $color-button-active;
    color:  $color-text-light;
  }
  &--more {
    padding: 0 30px 0 10px;
  }
}
