body, h1, h2, h3, ul, li, a, p, section {
  margin: 0;
  padding: 0;
}

a, img, label {
  display: block;
}

body, body * {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}


@mixin flag {
  content: '!!!!!!!!!!!!!!!!!!!!!!!!';
  position: absolute;
  top: 26px;
  right: 0;
  width: 117px;
  height: 30px;
  background: linear-gradient(180deg, #1D1269 0%, #EB0255 22.95%);
}

.new::before {
  position: relative;
  @include flag;
}
