* {
  box-sizing: border-box;
}

body, h1, h2, h3, ul, li, a, p, section, button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a, img, label {
  display: block;
}

body {
  width: 100%;
  background: #bdecb6;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
}

.positioner {
  width: 1530px;
  height: inherit;
  margin: 0 auto;
}

button {
  border: none;
  background: transparent;
}

@mixin flag {
  content: '!!!!!!!!!!!!!!!!!!!!!!!!';
  position: absolute;
  top: 26px;
  right: 0;
  width: 117px;
  height: 30px;
  background: linear-gradient(180deg, #1D1269 0%, #EB0255 22.95%);
}

.new::before {
  position: relative;
  @include flag;
}
