.present {
  display: flex;
  justify-content: space-between;
  width: 1920px;
  height: 492px;
  margin: 0 auto;
}

.present__positioner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 676px;
  height: 100%;
  padding-right: 85px;
}
