.present {
  width: 1920px;
  height: 492px;
  margin: 0 auto;
  background-image: url("../images/img/brice-laville-saint-martin-asset.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1244px 492px;
  @media #{$retina-dpi}, #{$retina-dppx} {
    background-image: url("../images/img/brice-laville-saint-martin-asset@2x.jpg");
  }
}

.present--positioner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 57px;
}
