$slider-length: 4;
$slider-width: 1244px;
$all-slides: $slider-length + 2;
$slider-container-width: $slider-width * $all-slides;

.slider {
  width: $slider-width;
  height: 492px;
  position: relative;
  box-shadow: -30px 0px 20px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.slider__button-container {
  position: absolute;
  top: 57px;
  left: 68px;
  z-index: 10;
  width: 90px;
}

.slider__button {
  width: 33px;
  height: 33px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-text-light;
  background-repeat: no-repeat;
  background-position: center;
  &--prev {
    background-image: url("../images/icon/arrow-left.svg");
  }
  &--next {
    background-image: url("../images/icon/arrow-right.svg");
  }
}

.slider__slide-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: $slider-container-width;
}

.slider__thumbler-container {
  position: absolute;
  bottom: 20px;
  left: 68px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 970px;
  height: 5px;
  input {
    display: none;
  }

  .slider__label {
    position: relative;
    width: 236px;
    height: 5px;
    background: rgba(72, 80, 143, 0.7);
    border-radius: 50px;
    cursor: pointer;
  }

  input:checked + .slider__label::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 5px;
    top: 0;
    left: 0;
    background: $color-button;
    border-radius: 50px;
  }
}
