/*Слайд*/
.slide {
  width: $slider-width;
  padding-top: 114px;
  height: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1244px 492px;
  &--1 {
  //  background-color: red;
    background-image: url("../images/img/bg-1.jpg");
    @media #{$retina-dpi}, #{$retina-dppx} {
      background-image: url("../images/img/bg-1@2x.jpg");
    }
  }
  &--2 {
  //  background-color: orange;
    background-image: url("../images/img/bg-2.jpeg");
  }
  &--3 {
  //  background-color: yellow;
    background-image: url("../images/img/bg-3.jpeg");
  }
  &--4 {
  //  background-color: green;
    background-image: url("../images/img/bg-4.jpeg");
  }
}

.slide__content {
  padding-left: 68px;
  span {
    font-size: 14px;
  }
  span:first-of-type {
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-button;
  }
  span:last-of-type {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $color-text-light;
  }
}

.slide__title {
  width: 94px;
  padding-bottom: 15px;
  margin: 21px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;
  color: $color-text-light;
  border-bottom: 2px solid $color-text-light;
}

.slide__button {
  width: 87px;
  height: 26px;
  margin-top: 21px;
  background: $color-button;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border-radius: 100px;
  color: $color-text-light;
}
