//button
$color-button: #87E389;
$color-button-active: #D73649;
$color-button-dark: #282F4B;
$color-button-light: #ffffff;
//border, button
$color-new: #8BEB01;
$color-popular: #50FFE0;
$color-recommends: #4F00F7;
$color-form-border: #32448C;
//text
$color-text-slim: #8C91BA;
$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-text-providers: #8187AD;
//background
$color-bg-dark: #121423;
//  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
$color-bg-main: linear-gradient(283.07deg, #121726 57.75%, #222C42 90.78%);
/*Ретина*/

$retina-dpi: (min-resolution: 144dpi);
$retina-dppx: (min-resolution: 1.5dppx);

@mixin style-button() {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin logo() {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-text-light;
  background: url('../images/icon/sprite.icon.svg#cards') no-repeat;
  outline: 1px solid red;
}
