//colors
$color-button: #87E389;
$color-button-active: #D73649;
$color-button-dark: #282F4B;
$color-button-light: #ffffff;

$color-new: #8BEB01;
$color-popular: #50FFE0;
$color-recommends: #4F00F7;
$color-providers: #32448C;

$color-text-slim: #8C91BA;
$color-text-normal: #ffffff;
$color-text-dark: #000000;
