%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-adult {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-adult-dims {
	width: 60.07px;
	height: 61px;
}

.svg-cards {
	@extend %svg-common;
	background-position: 47.67460317460318% 0;
}

.svg-cards-dims {
	width: 50px;
	height: 50px;
}

.svg-casinolive {
	@extend %svg-common;
	background-position: 20.408163265306122% 73.38709677419355%;
}

.svg-casinolive-dims {
	width: 29px;
	height: 27px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 99.37162162162163% 0;
}

.svg-eye-dims {
	width: 28px;
	height: 29px;
}

.svg-favorites {
	@extend %svg-common;
	background-position: 77.51408450704226% 30.833333333333332%;
}

.svg-favorites-dims {
	width: 34px;
	height: 31px;
}

.svg-lastplayed {
	@extend %svg-common;
	background-position: 47.945205479452056% 50.413223140495866%;
}

.svg-lastplayed-dims {
	width: 30px;
	height: 30px;
}

.svg-login {
	@extend %svg-common;
	background-position: 94.88387096774194% 22.65625%;
}

.svg-login-dims {
	width: 21px;
	height: 23px;
}

.svg-new-games {
	@extend %svg-common;
	background-position: 79.18705035971223% 0;
}

.svg-new-games-dims {
	width: 37px;
	height: 37px;
}

.svg-popular {
	@extend %svg-common;
	background-position: 26.38888888888889% 50.413223140495866%;
}

.svg-popular-dims {
	width: 32px;
	height: 30px;
}

.svg-search {
	@extend %svg-common;
	background-position: 0 75.83333333333333%;
}

.svg-search-dims {
	width: 30px;
	height: 31px;
}

.svg-slots {
	@extend %svg-common;
	background-position: 0 50.413223140495866%;
}

.svg-slots-dims {
	width: 38px;
	height: 30px;
}

.svg-tablegames {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-tablegames-dims {
	width: 29px;
	height: 29px;
}

